---
import HeaderSection from '../components/HeaderSection.astro';
import Layout from '../layouts/Layout.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import MethodologySection from '../components/MethodologySection.astro';
import AboutSection from '../components/AboutSection.astro';
import Ticker from '../components/Ticker.astro';
import YinYangSection from '../components/YinYangSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <div class="container">
      <HeaderSection />
      <ProjectsSection />
      <MethodologySection />
      <AboutSection />
      <Ticker />
      <YinYangSection />
      <Footer />
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }

  .container {
    padding: 0;
  }

  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
  }
</style>
